/*body{
    margin: 0;
    background-color: chartreuse;
}*/
html, body{
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 15px;
    background-color: white;
    font-weight: 400;
    margin: 0;
    background-color: chartreuse;


}

#container{

    
    
}
.grid{
    display: flex;
}
.top-nav{
    overflow: hidden;
    background-color:black;
    font-size: 16px;
    padding: 16px 18px;

    
    
}

.top-nav a:hover{

    background-color: white;
    color: green;


}
.top-nav a{
    float: right;
}
.top-nav a:active{
    background-color: blue;
    color: white;
}

#navbar{
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    background-color: white;
    float: right;


}
#header-img{
    width: 20%;
}
#form{
    margin: 100px 500px;
    background-color: orange;
}
#email{
    width: 300px;
    height: 10px;
    padding: 20px
}
#content{
    position: center;
    display: inline-block;
    padding: 300px;


}
#form-para{
    color: black;
    font-size: 50px;
    font-family:sans-serif;
    text-align: center;
}
#submit{
    background-color: orange;
    color: black;

}
a {
text-decoration: none;
color: white;
}

#video{
    position: center;
}
iframe {
    max-width: 560px;
    width: 100%;
    
  }

footer{
    background-color:grey;
    overflow: hidden;


}

#footer-para{

    text-align: center;
    font-family: Sans-serif;
    text-decoration: bold;
}